.hw-100 {
  width: 10% !important;
  font-size: 1rem !important;
}

body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
}

main {
  display: grid;
  width: 100%;
  height: 60%;
  place-items: center;
}

h1 {
  margin-block-start: 0rem;
}


button {
  width: 30%;
  aspect-ratio: 1;
  font-size: 4rem;
  display: block;
}


header {
  width: min(80ch, 100vw - 4rem);
  margin-inline: auto;
}

#click-to-start {
  z-index: 1;
  background-color: #00bc00;
}

#click-to-end {
  z-index: 2;
  background-color: red;
}

.hide {
  display: none;
}